<!doctype html>
<html>

<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" rel="icon"
    type="image/x-icon" /><!--tiny.cc/emptyimage-->
</head>

<body>
  <div id='app'>
    <v-app>
      <v-main>
        <v-container>
          <v-row class="ma-4 text-h4">
            <v-spacer>
            </v-spacer>
            The blind computer sandbox
            <v-spacer></v-spacer>
          </v-row>
          <v-row class="ma-3">
            <v-col cols="12" sm="3" class="d-flex justify-space-around">
              <v-card flat>
                <v-btn text>Reset:</v-btn>
              </v-card>
            </v-col>
            <v-col cols="12" sm="3" class="d-flex justify-space-around">
              <v-card flat>
                <v-btn @click="resetInOrder()" class="secondary"><v-icon small class="ma-2">fas
                    fa-arrow-right</v-icon>In Order</v-btn>
              </v-card>
            </v-col>

            <v-col cols="12" sm="3" class="d-flex justify-space-around">
              <v-card flat>
                <v-btn @click="resetReverseOrder()" class="secondary"><v-icon small class="ma-2">fas
                    fa-arrow-left</v-icon>Reverse
                  Order</v-btn>
              </v-card>
            </v-col>
            <v-col cols="12" sm="3" class="d-flex justify-space-around">
              <v-card flat>
                <v-btn @click="resetRandom()" class="secondary"><v-icon small class="ma-2">fas
                    fa-refresh</v-icon>Random</v-btn>
              </v-card>
            </v-col>
          </v-row>
          <v-row class="ma-4 text-title">
            <v-spacer>
            </v-spacer>
            Use the controls below to change the array. Like a computer, you can only see two values at a time.
            <v-spacer></v-spacer>
          </v-row>

          <div class="grey lighten-1 pa-5">
            <v-row>
              <v-col cols="6" sm="3" md="2" v-for="(card,index) in cards" :key="card.name">
                <v-card @click="click(index)">
                  <v-img :src="showAll || shown.includes(index) ? images[card.name-1] : './images/black.png'" height="200px">
                    <v-app-bar flat dense color="rgba(255,255,255,.4)">
                      <v-toolbar-title>
                        <span v-if="shown.includes(index)">{{card.name}}</span>
                        <span v-else class="text-subtitle-1">?</span>
                      </v-toolbar-title>
                    </v-app-bar>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
            <v-row class="ma-3">
              <v-col cols="12" sm="3" class="d-flex justify-space-around">
                <v-card flat>
                  <v-btn text>
                    Actions:
                  </v-btn>
                </v-card>
              </v-col>
              <v-col cols="12" sm="3" class="d-flex justify-space-around">
                <v-card flat>
                  <v-btn @click="swap()" class="primary"><v-icon small class="ma-2">fas fa-exchange</v-icon>Swap
                    {{cards[shown[0]].name}} and {{cards[shown[1]].name}}</v-btn>
                </v-card>
              </v-col>
              <v-col cols="12" sm="3" class="d-flex justify-space-around">
                <v-card flat>
                  <v-btn @click="show()" class="secondary"><v-icon small class="ma-2">fas fa-eye</v-icon>Toggle Show All</v-btn>
                </v-card>
              </v-col>
            </v-row>
          </div>

        </v-container>
      </v-main>
    </v-app>
  </div>


  <script>

    const app = new Vue({
      el: '#app',
      vuetify: new Vuetify({
        theme: {
          themes: {
            light: {
              primary: '#3f51b5',
              secondary: '#b0bec5',
              accent: '#8c9eff',
              error: '#b71c1c',
            },

          }
        }
      }),
      data: {
        shown: [0, 1],
        showAll:false,
        images: [
          "./images/mountains0.png",
          "./images/mountains1.png",
          "./images/mountains2.png",
          "./images/mountains3.png",
          "./images/mountains4.png",
          "./images/mountains5.png",
        ],
        cards: [
          {
            name: 1
          },
          {
            name: 2
          },
          {
            name: 3
          },
          {
            name: 4
          },
          {
            name: 5
          },
          {
            name: 6
          },
        ],
      },
      methods: {
        click(index) {
          if (this.shown.includes(index)) return;
          this.shown.push(index)
          this.shown.splice(0, 1);
        },
        swap() {
          let temp = this.cards[this.shown[0]];
          Vue.set(this.cards, this.shown[0], this.cards[this.shown[1]])
          Vue.set(this.cards, this.shown[1], temp)
        },
        resetInOrder() {
          this.shown = [0, 1];
          this.cards = [{ name: 1 }, { name: 2 }, { name: 3 }, { name: 4 }, { name: 5 }, { name: 6 },]
        },
        resetReverseOrder() {
          this.shown = [0, 1];
          this.cards = [{ name: 6 }, { name: 5 }, { name: 4 }, { name: 3 }, { name: 2 }, { name: 1 },]
        },
        resetRandom() {
          this.shown = [0, 1];
          this.cards = [{ name: 6 }, { name: 1 }, { name: 5 }, { name: 2 }, { name: 4 }, { name: 3 },]
        },
        show(){
          this.showAll = !this.showAll;
        }

      },
    });

  </script>
</body>

</html>